<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid navbar-expand">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link text-bg-danger" %>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/sign_in">Sign In</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<h1 class="display-5">My Portfolio</h1>
<p class="lead">
  I am Eric Keis, a computer science student currently attending UCCS. You can find more information
  about my degree 
  <a href="https://eas.uccs.edu/cs/academics/undergraduate-programs/bachelor-of-science-in-computer-science">
  here</a>.
  Outside of programming, I enjoy taking my jeep off-roading and exploring with my doggo.
</p>

<p>Some of my skills</p>
<ul class="list-unstyled">
  <div class="border border-bottom-0 rounded-top p-2">
    <li>Programming Languages</li>
      <ul>
        <li>Javascript</li>
        <li>Java</li>
        <li>C#</li>
        <li>Python</li>
      </ul>
    </li>
  </div>
  <div class="border p-2">
    <li>Technical Skills</li>
      <ul>
        <li>Source and version control using git</li>
        <li>Software testing and validation</li>
        <li>RDMS and SQL</li>
        <li>Object-Oriented Programming</li>
      </ul>
    </li>
  </div>
  <div class="border border-top-0 rounded-bottom p-2">
    <li>Soft Skills</li>
      <ul>
        <li>Organized and time aware</li>
        <li>Able to get the job done under pressure</li>
        <li>Very agile</li>
        <li>Learn quickly</li>
      </ul>
    </li>
  </div>
</ul>

<h3>Projects</h3>
<p style="color: green"><%= notice %></p>

<div id="projects" class="row g-3 mb-3">
  <% @projects.each do |project| %>
    <div class="col-md">
      <div class="p-2 border border-dark border-2 rounded">
        <%= render project %>
        <p>
          <%= link_to "Show this project ➜", project, class: "btn btn-info btn-sm" %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New project", new_project_path, class: "btn btn-primary" %>